@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  &:before {
    content: "";
    content: "";
    width: 100%;
    height: 100vh;
    background: linear-gradient( to right bottom, #6d327c, #485da6, #00a1ba, #01b18e, #32b37b );
    //background: #D3D3D3;
    //background-image: url("../../public/green.png");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
    &:hover {
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.page-item {
  margin: 0 5px;
  position: relative;
}

.page-link {
  padding: 5px 12px;
  border: none; 
  color: white; 
  text-decoration: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1); /* Fundo translúcido */
  transition: background-color 0.3s, transform 0.2s;
  font-weight: 600; /* Tornando o texto um pouco mais bold */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Uma leve sombra para dar profundidade */
}

.page-link:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Um fundo um pouco mais opaco no hover */
  transform: translateY(-2px); /* Uma leve elevação no hover */
}

.active .page-link {
  background: #eb1005; /* Usando a cor do meio do seu gradiente para a página ativa */
  box-shadow: 0 4px 12px rgba(1, 177, 142, 0.3); /* Uma sombra mais proeminente para a página ativa */
}

/* Adicionando um pequeno indicador abaixo do número da página ativa */
.active .page-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
}


